extends ../layout

block content
  |<a href="/"><h1><span class='glyphicon glyphicon-menu-left'></span>   #{god.currentColony.name}</h1></a>
  .row
    .col-md-8
      h2.page-header Weresquirrels
      for squirrel in weresquirrels
        h3.page-header.text-success.well= squirrel.name
        table.table.table-striped
          thead
            tr
              th Meat
              th Garlic
          tbody
            for duel in squirrel.duels
              tr
                td= duel.meat
                td= duel.garlic
    .col-md-4
      h2.page-header Unibears
      for unibear in unibears
        h4.text-danger.well= unibear.name
